p{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    width: 700px;
    border: 5px dashed red;
    padding: 10px;
    text-align: center;
    margin: auto;
    background-color: black;
}
body{
    background-color:crimson;
    background-image: url(images/cssbg.png);
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: orange;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color: red;
}
h1{
    margin:auto;
    text-align: center; 
    border:5px dotted darkred; 
    padding:10px; 
    color: crimson; 
    background-color:whitesmoke; 
    font-family:Arial, Helvetica, sans-serif; 
}